*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    margin-bottom: 0;
}
.heart{
    width: 40px;
    height: 40px;
}
.intro{
    font-size: 1.5rem;
    color: white;
}
.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: 0.75rem;
}
.con{
    width: 40px;
    height: 40px;
}
.container1{
    position: fixed;
    background-color: black;
    width: 100%;
    margin-top: 0;
}
.mainc{
    width: 100%;
}
.fs-2, .pb-2{
    color: white;
    font-weight: bolder;
}
.fs-2-1, .c{
    color: white;
    text-align: justify;
}
.fs-4{
    color: white;
    font-weight: bolder;
}
.card-body{
    color: white;
    font-size: 1.3rem;
}
.my-0{
    color: white;
}
